.navbar{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
  
   text-underline-offset: -111px;
   
}

ul{
    text-decoration: none;
}


.favoritos {
color :red
}

